table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    height: 60px;
    width: 60px;
}

h3 {
    text-align: center;
}

.empty {
    border:0px
}

.num {
    text-align: left;
    font-size: x-small;
    margin: 0px;
    padding: 2px;
}

.symbol {
    text-align: center;
    font-size:medium;
    font-weight: bold;
    margin: 0px;

}

.name {
    text-align: center;
    font-size: x-small;
    margin:0px
}

.green {
    background-color:lightgreen;
}

.blue1 {
    background-color:rgba(21, 119, 121, 0.507);
}

.blue2 {
    background-color:rgba(0, 255, 255, 0.63);
}

.blue3 {
    background-color:dodgerblue;
}

.orange {
    background-color:rgba(255, 166, 0, 0.493);
}

.yellow {
    background-color: rgba(255, 255, 0, 0.247);
}

.grey {
    background-color: rgba(128, 128, 128, 0.548);
}

.red {
    background-color: rgba(255, 0, 0, 0.158);
}

.pink {
    background-color: rgba(255, 105, 180, 0.267);
}